#home, #glamping, #mountian, #egypt, #vegas, #borabora, #other{
  display: none;
}

body {
    background-color: #b3ccff;
}

h3{
  font-style: italic;
  color: purple;
}

em {
    font-style: italic;
    color: green;
}
